<div class="full-page">
  <main>
    <section>
      <div id="login-form" class="login-page">
        <div class="form-box-login">
          <form id="login" class="input-form-group-login" method="post"
            action="/users/login"
            enctype="application/x-www-form-urlencoded">
            <input
              type="text"
              class="input-field"
              placeholder="Enter Username"
              name="username"
              required
            />
            <input
              type="password"
              class="input-field"
              placeholder="Enter Password"
              name="password"
              required
            />
            <button type="submit" class="submit-btn">Log in</button>
          </form>
        </div>
      </div>
    </section>
  </main>
</div>