<div class="full-page">
  <main>
    <section>
      <div class="form-page">
        <div class="form-box">
          <form
            class="form-group"
            action="/posts/create"
            method="post"
            enctype="multipart/form-data"
          >
            <input
              type="text"
              class="input-field"
              placeholder="Post Title"
              name="title"
              required
            />

            <textarea
              name="description"
              placeholder="Description"
              required
              name="description"
            ></textarea>

            <input
              type="file"
              class="fileupload"
              accept="image/*"
              required
              name="uploadImage"
            />

            <input type="checkbox" class="check-box" />
            <span>Agree to our
              <a class="privacy-link" href="#">TOS and Privacy Rules</a></span>
            <button type="submit" class="submit-btn">Post</button>
          </form>
        </div>
      </div>
    </section>
  </main>
</div>